body {
    background: linear-gradient(#d77a80, #f5c2cc) ;
}

h1{
    color:#f1e1dc;
    text-align: center;
    font-family: Avenir, Lora, Futura, sans-serif;
    font-size: 30px;
    background: linear-gradient(45deg, #eba2af, #d77a80);
    padding: 20px;
    border-radius: 11px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#sakura {
    display: block;
    margin: 0 auto;
    border-radius: 18px;
}