
body {
    background-image: url("resources/cherrytop.jpg");
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

body{
    background-color: #efbdc7;
}

h1{
    color:#f1e1dc;
    text-align: center;
    font-family: Avenir, Lora, Futura, sans-serif;
    font-size: 30px;
    background: rgba(235, 162, 175, 0.7);
    padding: 20px;
    border-radius: 11px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.index{
    padding-left:23%;
}

#sakura {
    display: block;
    margin: 0 auto;
    border-radius: 18px;
}

h2{
    color:#d77a80;
    text-align: center;
}

h3,h4{
    color:#d77a80;
    text-align: center;
}

#white{
    color:#ffffff;
}


ul,ol{
    color: #ffffff;
    font-weight: bold;
    text-indent: -33%;
    text-align: center;
}

.cb{
    background-image: url(resources/kaw.png);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

.cb:hover{
    background-color: rgba(228,157,173, 0);
}

.ind{
    background-color: rgba(228,157,173, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

.ind:hover{
    background-color: rgba(228,157,173, 0);
}

.ind1{
    background-color: rgba(228,157,173, 0.05);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}

.ind1:hover{
    background-color: rgba(228,157,173, 0);
}

table{
    background-color: #e49dad;
    border-radius: 5px;
    border: 2px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    user-select: none;

}

table:hover{
    background-color: #e8b1bc;
}

th,td{
    color:#ffffff;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

th{
    text-decoration: underline;
}

p{
    padding-left: 7%;
    padding-right: 7%;
    color: #ffffff;
    font-weight: bold;
}

a{
    color: #050303;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color:aqua;
}

.links{
    text-align: center;
}

.attri{
    font-size: 15px;
    text-align: center;
}

#tak{
    color:#d77a80;
}

#tak:hover{
    color:aqua;
}

a.button1{
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-image: url("resources/MElink.png");
    background-position-x: 78%;
    background-position-y: 80%;
  }

  a.button1:hover{
    background-image: url("resources/MElink.png");
    background-position-x: 90%;
    background-position-y: 80%;
  }

  a.button2{
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-image: url("resources/sakuralink.jpg");
    background-position-x: 12%;
    background-position-y: 10%;
  }

  a.button2:hover{
    background-image: url("resources/sakuralink.jpg");
    background-position-x: 12%;
    background-position-y: 20%;
  }

  a.button3{
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-image: url("resources/Lake-Kawaguchi-Tokuriki-Tomikichiro.jpg");
    background-position-x: 25%;
    background-position-y: 7%;
  }

  a.button3:hover{
    background-image: url("resources/rick.png");
    background-position-x: 32%;
    background-position-y: 40%;
  }
